img {
	width: 30%;
	height: auto;
	float: left;
	margin: 1.66%
}

.name {
	font-family: montserrat;
	font-weight: 800;
	margin: 1.66%;
	font-size: 23px;
	text-transform: uppercase;
	border-bottom: 2px solid rgb(230,230,230);
	padding-bottom: 20px;
	color: rgb(230,230,230);
	letter-spacing: 0.3rem;
}

p {
	font-family: raleway;
	margin: 1.66%;
}
